<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
<title>Registro</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Sign Up Form Responsive Widget Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->
<!-- css files -->
<link href="{% static 'motoristaregistro/css/style.css'%}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'motoristaregistro/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" media="all">
<!-- //css files -->
<!-- online-fonts -->
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'><link href='//fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
</head>
<body>
<!--header-->
	<div class="header-w3l">
		<h1>SITA - REGISTRO DE MOTORISTA</h1>
	</div>
<!--//header-->
<!--main-->
<div class="main-agileits">
	<h2 class="sub-head">Registrar-se</h2>

			<div class="right-bar d-flex align-items-center">
              <nav class="d-flex align-items-center">
                <div class="main-menu">
                 <center> 
                 <H2>AJUDA:</H2>
                 <p>Os campos podem variar entre maiúsculas e minúsculas. Atenção ao cadastrar o username.</p>
                  <p>Ao realizar o cadastro bem sucedido, irá ser redirecionado para a tela inicial.</p>
                  <h5>Repare que no campo contato precisa-se preencher com números.</h5>
                </center>
                </div>
              </nav>  
            </div>
		<div class="sub-main">	
			<form action="#" method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						
						<p style="margin-bottom: 0px;">Username:</p>
						{{ form1.username }}
						<p style="margin-bottom: 0px;">Primeiro Nome:</p>
						{{ form1.first_name }}
						<p style="margin-bottom: 0px;">Ultimo Nome:</p>
						{{ form1.last_name }}
						<p style="margin-bottom: 0px;">Email:</p>
						{{ form1.email }}
						<p style="margin-bottom: 0px;">Contato:</p>
						{{ form2.Motorista_contato }}
						<p style="margin-bottom: 0px;">Senha:</p>
						{{ form1.password }}

					</div>
				</div>
				<input type="submit" value="Finalizar">
			</form>
		</div>
		<div class="clear"><a href="/home"> Inicio </a></div>
</div>
<!--//main-->
		<div class="right-bar d-flex align-items-center">
              <nav class="d-flex align-items-center">
                <div class="main-menu">
                 <center> 
                 <H2 style="color: red">ATENÇÃO</H2>
                 <p style="color: white">Deu submit e não redirecionou? Cadastro não realizado com sucesso.
                 </p> <p style="color: white">Verifique os dados inseridos, o campo contato só pode ser preenchido com números!</p>
                </center>
                </div>
              </nav>  
            </div>


</body>
</html>